* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

i {
    font-size: 1.5rem;
}

.img-relato {
    position: absolute; 
    top: 0; left: 0; 
    max-width: 400px; 
    max-height: 580px;
    z-index: 1;
}

.img-shadow {
    position: absolute; 
    top: 30px; 
    left: 30px; 
    width: 400px; 
    height: 560px;
    background: linear-gradient(135deg, #0097b2 30%, #43c6ac 100%); 
    position: absolute; 
    filter: blur(8px);
}

.bg-azul {
    background-color: #75c4ca;
}

.icon-apres {
    background-color: #75c4ca;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
}

.nav-link {
    color: rgb(61, 61, 61);
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.active {
    color: black;
}

.nav-link:hover {
    color: rgb(109, 109, 109);
}

.bg-laranja {
    background-color: #fe762d;
}

.bg-footer {
    background-color: #001528;
}

.bg-prefooter {
    background-color: #647382;
}

::-webkit-scrollbar {
    width: 12px;     
    height: 12px;     
}

::-webkit-scrollbar-track {
    background: #f1f1f1;      
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;          
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#formAlta .alert-warning {
    border-left: 4px solid #ffc107;
}

#formUrg .alert-danger {
    border-left: 4px solid #dc3545;
}

#formMedia .alert-primary {
    border-left: 4px solid #0d6efd;
}

#formBaixa .alert-success {
    border-left: 4px solid #097709;
}

.btn-gov {
    background-color: #2964af;
    color: white;
}

.btn-gov:hover {
    background-color: #4776b4;
    color: white;
}

.btn-unity, .bg-unity {
    background-color: #102236;
    color: white;
}

.btn-unity:hover {
    background-color: #28425f;
    color: white;
}